<div class="container">
    <h1>User Data</h1>
    <form  #formdata="ngForm" (ngSubmit)="onSubmit(formdata.value)" novalidate>
    <div class="form-group">
        <label>Name:
        </label>
        <input type="text" minlength="4" required #nameRef="ngModel" name="name"  class="form-control" ngModel>
  <div *ngIf="nameRef.errors && (nameRef.touched || nameRef.dirty)" class="alert alert-danger">
<div [hidden]="!nameRef.errors.minlength">
Length should be of minimum 4
</div>
<div [hidden]="!nameRef.errors.required">
Name is not provided
</div>
  </div>
    </div>
    
    <div class="form-group">
        <label>City:
        </label>
        <input type="text" required #cityRef="ngModel" name="city"  class="form-control" ngModel>
   <div [hidden]="cityRef.valid || cityRef.pristine" class="alert alert-danger">
Please enter city
  </div>
    </div>
   
<div class="form-group">
        <label>Country:
        </label>
        <input type="text" name="country" required #countryRef="ngModel" class="form-control" ngModel>
    <div [hidden]="countryRef.valid || countryRef.pristine" class="alert alert-danger">
Please enter country
  </div>
    </div>

    
    <div class="form-group">
        <label>PostalCode:
        </label>
        <input type="text" name="postalcode" pattern="^[1-9][0-9]{3}$" required #postalCodeRef="ngModel" class="form-control" ngModel>
    <div *ngIf="postalCodeRef.errors && (postalCodeRef.touched || postalCodeRef.dirty)" class="alert alert-danger">
<div [hidden]="!postalCodeRef.errors.pattern">
Pattern is not followed
</div>
<div [hidden]="!postalCodeRef.errors.required">
Something is not provided
</div>
  </div>
    </div>

    <div class="form-group">
        <label>Address:
        </label>
        <input type="text" name="address" required #addressRef="ngModel" class="form-control" ngModel>
    <div [hidden]="addressRef.valid || addressRef.pristine" class="alert alert-danger">
Please enter address
  </div>
    </div>

   
    
<button [disabled]="!formdata.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>